.bg-active-green {
    background-color: #C0D67C;
}

.bg-dirt-green {
    background-color: #9EC137;
}

.bg-dark-blue {
    background-color: #4467A1;
}

.txt-color-blue {
    color: #4467A1;
}

.txt-color-dirt-green {
    color: #9EC137;
}

.main-content {
    width: 94%;
    height: calc(100vh - 72px);
    overflow: auto;
}

.card-width {
    width: 49%;
}

.side-nav {
    overflow: auto;
}